<?xml version="1.0" encoding="utf-8"?>
<application>
	<name>Reset on Active</name>
	<namespace>reset</namespace>
	<main>reset.php</main>
	<version>1.2</version>
	<author>Blair Jersyer</author>
	<description>Enabling this module will delete all the data. Make sure to be fore before performing this action. It's action cannot be undone.</description>
</application>
